<ion-content>
  <ion-slides #slides pager="true" style="height:100%" class=“swiper-no-swiping”>
    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Bereit für das Quiz</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Du kannst zum lösen des Quiz die Unterlagen verwenden, welche du erhalten hast. Sobald zu das Quiz abgeschlossen hast, kannst Du dich bei einem Betreuer melden um einen praktischen Einblick in unsere Arbeit zu erhalten.
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-button (click)="startNow()" color="primary" shape="round">Start</ion-button>

            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 1 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/cpu.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q1" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q1"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 2 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/festplatte.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q2" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q2"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 3 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/grafikkarte.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q3" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q3"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 4 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/motherboard.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q4" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q4"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 5 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/netzkarte.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q5" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q5"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 6 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/netzteil.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q6" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q6"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 7 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/ram.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q7" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q7"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>
   

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 8 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/ssd.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q8" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q8"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>


    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 9 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">Aus wie vielen Bit besteht ein Byte?</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-radio-group [(ngModel)]="anwsers.q9" type="text" (ionChange)='inputChanged($event.target.value)'>
                <ion-item>
                  <ion-label>8 Bit</ion-label>
                  <ion-radio slot="start" value="t" ></ion-radio>
                </ion-item>

                <ion-item >
                  <ion-label>3 Bit</ion-label>
                  <ion-radio slot="start" value="f0"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>5 Bit</ion-label>
                  <ion-radio slot="start" value="f1"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>12 Bit</ion-label>
                  <ion-radio slot="start" value="f2"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 10 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">Ein Megabyte hat ...</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-radio-group [(ngModel)]="anwsers.q10" type="text" (ionChange)='inputChanged($event.target.value)'>
                <ion-item>
                  <ion-label>1024 Gigabyte</ion-label>
                  <ion-radio slot="start" value="f0" ></ion-radio>
                </ion-item>

                <ion-item >
                  <ion-label>1024 Kilobyte</ion-label>
                  <ion-radio slot="start" value="t"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>1000 Byte</ion-label>
                  <ion-radio slot="start" value="f1"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>500 Byte</ion-label>
                  <ion-radio slot="start" value="f2"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 11 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">Wozu benötigt man Treiberprogramme?</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-radio-group [(ngModel)]="anwsers.q11" type="text" (ionChange)='inputChanged($event.target.value)'>
                <ion-item>
                  <ion-label>Um den Computer zu beschleunigent</ion-label>
                  <ion-radio slot="start" value="f0" ></ion-radio>
                </ion-item>

                <ion-item >
                  <ion-label>Zum Ansteuern von Systemkomponenten (Karten, Drucker , ...)</ion-label>
                  <ion-radio slot="start" value="t"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Zum Versenden von E-Mails</ion-label>
                  <ion-radio slot="start" value="f1"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Zum Vertreiben von Viren</ion-label>
                  <ion-radio slot="start" value="f2"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

        <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 12 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">Was ist keine Programmiersprache?</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-radio-group [(ngModel)]="anwsers.q12" type="text" (ionChange)='inputChanged($event.target.value)'>
                <ion-item>
                  <ion-label>C#</ion-label>
                  <ion-radio slot="start" value="f2" ></ion-radio>
                </ion-item>

                <ion-item >
                  <ion-label>C++</ion-label>
                  <ion-radio slot="start" value="f0"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Python</ion-label>
                  <ion-radio slot="start" value="f1"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>OS/2</ion-label>
                  <ion-radio slot="start" value="t"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

        <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 13 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">Wofür steht die Abkürzung WLAN?</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-radio-group [(ngModel)]="anwsers.q13" type="text" (ionChange)='inputChanged($event.target.value)'>
                <ion-item>
                  <ion-label>Wireless Low Administration Net</ion-label>
                  <ion-radio slot="start" value="f2" ></ion-radio>
                </ion-item>

                <ion-item >
                  <ion-label>Wire- and Lineless Access Network</ion-label>
                  <ion-radio slot="start" value="f0"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Weird Location Allow Network</ion-label>
                  <ion-radio slot="start" value="f1"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Wireless Local-Area Network</ion-label>
                  <ion-radio slot="start" value="t"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

        <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 14 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">Wie heisst das Internet-Protokoll zur Übertragung von Dateien?</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-radio-group [(ngModel)]="anwsers.q14" type="text" (ionChange)='inputChanged($event.target.value)'>
                <ion-item>
                  <ion-label>HTTP</ion-label>
                  <ion-radio slot="start" value="f0" ></ion-radio>
                </ion-item>

                <ion-item >
                  <ion-label>FTP</ion-label>
                  <ion-radio slot="start" value="t"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>HTTPS</ion-label>
                  <ion-radio slot="start" value="f1"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>URL</ion-label>
                  <ion-radio slot="start" value="f2"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

        <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 15 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">Welche dieser IP-Adressen ist valide?</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-radio-group [(ngModel)]="anwsers.q15" type="text" (ionChange)='inputChanged($event.target.value)'>
                <ion-item>
                  <ion-label>145.21.1</ion-label>
                  <ion-radio slot="start" value="f1" ></ion-radio>
                </ion-item>

                <ion-item >
                  <ion-label>10.2345.1.12</ion-label>
                  <ion-radio slot="start" value="f0"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>12.157.91.31</ion-label>
                  <ion-radio slot="start" value="t"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>17158.1.1</ion-label>
                  <ion-radio slot="start" value="f2"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

        <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 16 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">Welches ist kein Betriebssystem?</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-radio-group [(ngModel)]="anwsers.q16" type="text" (ionChange)='inputChanged($event.target.value)'>
                <ion-item>
                  <ion-label>Windows</ion-label>
                  <ion-radio slot="start" value="f1" ></ion-radio>
                </ion-item>

                <ion-item >
                  <ion-label>MS-WORD</ion-label>
                  <ion-radio slot="start" value="t"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>MS-DOS</ion-label>
                  <ion-radio slot="start" value="f0"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Linux</ion-label>
                  <ion-radio slot="start" value="f2"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

        <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 17 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">Was ist 169.264.121.23 für eine IP Adresse?</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-radio-group [(ngModel)]="anwsers.q17" type="text" (ionChange)='inputChanged($event.target.value)'>
                <ion-item>
                  <ion-label>Diese Adresse ist eine APIPA Adresse</ion-label>
                  <ion-radio slot="start" value="f2" ></ion-radio>
                </ion-item>

                <ion-item >
                  <ion-label>Diese Adresse ist die Localhost Adresse</ion-label>
                  <ion-radio slot="start" value="f0"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Diese Adresse ist der Standardgateway von Google</ion-label>
                  <ion-radio slot="start" value="f1"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Diese Adresse ist ungültig</ion-label>
                  <ion-radio slot="start" value="t"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

        <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 18 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">Was bedeutet der Begriff Open Source?</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-radio-group [(ngModel)]="anwsers.q18" type="text" (ionChange)='inputChanged($event.target.value)'>
                <ion-item>
                  <ion-label>Die Software ist gratis und der Quellcode frei veränderbar</ion-label>
                  <ion-radio slot="start" value="t" ></ion-radio>
                </ion-item>

                <ion-item >
                  <ion-label>Die Sofware ist kostenpflichtig und man hat keine Einsicht in den Quellcode</ion-label>
                  <ion-radio slot="start" value="f0"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Die Software darf ohne zu bezahlen gebraucht, aber nicht verändert werden</ion-label>
                  <ion-radio slot="start" value="f1"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Eine geöffnete Flasche Quellwasser</ion-label>
                  <ion-radio slot="start" value="f2"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Glückwunsch!</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Du hast das Quiz erflogreich abgeschlossen. Wenn Du nun einen tieferen, pratischen Einblick in usere Arbeit erhalten möchtest, melde dich bei einem Betreuer und zeige ihm diese Seite, damit er siehst, dass Du das Quiz abgeschlossen hast. Er wird dir weitere Anweisungen geben.
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="viewIndex !== 0 && showPrevBtn">
    <ion-fab-button (click)="backward()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showSendBtn">
    <ion-fab-button (click)="processData()">
      <ion-icon name="send-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showProceedBtn">
    <ion-fab-button (click)="forward()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showProceedBtn">
    <ion-fab-button (click)="forward()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>