<ion-content>
  <ion-slides #slides pager="true" style="height:100%" class=“swiper-no-swiping”>
    <ion-slide *ngIf="!newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card style="text-align: center;">
            <ion-card-header>
              <ion-card-title>Danke für die Anmeldung!</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Du hast Dich bereits für den Schnuppertag angemeldet und wir haben die Informationen erhalten.
                Wir werden in den nächsten Wochen den Kontakt mit Dir suchen.<br><br>
                Beste Grüsse,<br>
                <div style="text-align: center;"> 

                  <br>
                  <img src="./../../../assets/images/branding/logo/logo.png" width="150px">
                  <br><br>
                </div>
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Bereit für das Quiz</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Du kannst zum lösen des Quiz die Unterlagen verwenden, welche du erhalten hast. Sobald zu das Quiz abgeschlossen hast, kannst Du dich bei einem Betreuer melden um einen praktischen Einblick in unsere Arbeit zu erhalten.
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-button (click)="startNow()" color="primary" shape="round">Start</ion-button>

            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 1 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/cpu.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q1" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q1"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 2 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/festplatte.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q2" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q2"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 3 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/grafikkarte.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q3" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q3"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 4 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/motherboard.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q4" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q4"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 5 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/netzkarte.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q5" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q5"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 6 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/netzteil.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q6" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q6"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 7 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/ram.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q7" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q7"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>
   

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 8 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">
                Wie heisst die auf dem Bild zu sehende Komponente?
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <img src="https://raw.githubusercontent.com/tejip46926/BAM/master/src/assets/images/hardware/ssd.jpg" width="75px">
              <ion-input [(ngModel)]="anwsers.q8" type="text" (ionChange)='inputChanged($event.target.value)' placeholder="Deine Antwort" name="q8"></ion-input>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>


    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Frage 9 / 18</ion-card-title><br>
              <ion-card-subtitle mode="md">Aus wie vielen Bit besteht ein Byte?</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-radio-group (ionSelect)="inputChanged($event)">
                <ion-item>
                  <ion-label>8 Bit</ion-label>
                  <ion-radio slot="start" value="1"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>3 Bit</ion-label>
                  <ion-radio slot="start" value="2"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>5 Bit</ion-label>
                  <ion-radio slot="start" value="3"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>12 Bit</ion-label>
                  <ion-radio slot="start" value="4"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>


    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title *ngIf="visitorData.gender == 'Frau'">Wieso möchtest Du Informatikerin werden?
              </ion-card-title>
              <ion-card-title *ngIf="visitorData.gender !== 'Frau'">Wieso möchtest Du Informatiker werden?
              </ion-card-title>
              <ion-card-subtitle mode="md">Schildere dies bitte in einem oder zwei kurzen Sätzen. Mindestens 15 Zeichen sind vorausgesetzt!</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-textarea (ionChange)="inputChanged($event.target.value)" [(ngModel)]="visitorData.whyThisJob"
                placeholder="Tippe um einzugeben..."></ion-textarea>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>


    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Hattest Du bereits Kontakt mit Informatik?</ion-card-title>
              <ion-card-subtitle mode="md">Schildere bitte in einem oder zwei kurzen Sätzen was du bereits kennst,
                gemacht hast
                oder gesehen hast. Mindestens 15 Zeichen sind vorausgesetzt!</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-textarea (ionChange)="inputChanged($event.target.value)" [(ngModel)]="visitorData.mySkills"
                placeholder="Tippe um einzugeben..."></ion-textarea>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Ein letzter Schritt!
              </ion-card-title>
              <ion-card-subtitle mode="md">Bitte bestätige, dass Du ein Mensch bist, indem Du eine kleine Rechenaufgabe
                löst.</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Was ergibt {{ number1 }} + {{ number2 }}?
              <ion-input [(ngModel)]="humanVerification" type="tel" (ionChange)='inputChanged($event.target.value)'
                placeholder="Deine Lösung"></ion-input>

              <ion-list lines="none" class="centerControlls">

                <ion-item class="custom-checkbox">
                  <ion-label class="ion-text-wrap" style="font-size: 14px;">Ich bin damit einverstanden, dass RUAG meine
                    Informationen speichert und diese für Zwecke der Berufsbildung weiterverwendet.
                  </ion-label>
                  <ion-checkbox [(ngModel)]="legalAccepted" (ionChange)='inputChanged($event.target.value)' mode="ios"
                    color="primary" checked slot="start">
                  </ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>

    <ion-slide *ngIf="newUser">
      <div class="container">
        <div class="vertical-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Danke, {{ visitorData.firstName }}!</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div *ngIf="loading">
                Deine Informationen werden gerade noch auf unsere PC's kopiert. Bitte schliesse diese Ansicht erst,
                wenn
                Du eine Erfolgsmeldung siehst.<br><br>
                <ion-spinner color="primary" name="lines-small"></ion-spinner>
              </div>
              <div *ngIf="success">
                Super! Deine Informationen wurden abgelegt.
                Du hast nun eine Bestätigungsmail erhalten. Antworte bitte auf diese und sende deinen Lebenslauf wie
                auch die letzten Schulzeugnisse und dem Motivationsschreiben als Anhang mit.<br><br>
                <img src="./../../../assets/images/checkmark.gif" width="90px">
              </div>

              <div *ngIf="error">
                Hoppla! Beim abspeichern deiner Informationen ist ein Fehler aufgetreten. Wende Dich bitte an die
                Informatiker weitere Hilfe!<br><br>
                <img src="./../../../assets/images/error.gif" width="120px">
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="viewIndex !== 0 && showPrevBtn">
    <ion-fab-button (click)="backward()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showSendBtn">
    <ion-fab-button (click)="processData()">
      <ion-icon name="send-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showProceedBtn">
    <ion-fab-button (click)="forward()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showProceedBtn">
    <ion-fab-button (click)="forward()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>